.square {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin: 10px;
}

#wrapper {
  max-width: 300px;
}
.row {
  display: inline-flex;
}

.guess {
  margin: 20px 5px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.guessTest {
  margin: 20px 5px;
  width: 100px;
  height: 50px;
  font-size: 20px;
}
